.jogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.portas {
  display: flex;
  justify-content: space-around;
  align-self: stretch;
  flex-wrap: wrap;
}

.botao {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.botao button {
  background-color: #c0392c;
  color: aliceblue;
  font-size: 3rem;
  border: none;
  padding: 10px 25px;
}
